<div class="container-lg justify-content-center align-items-center">
    <div class="row">
        <div class="col">
            <h1 class="display-5 text-primary">View Contact</h1>
            <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum nemo rerum, 
                impedit, explicabo, sed voluptas qui velit magnam voluptatem repellat asperiores 
                placeat consequuntur accusantium laboriosam eveniet pariatur est dicta iste sequi 
                incidunt neque at ad!
            </p>
        </div>
    </div>
</div>

<!--loading spinner -->

<div *ngIf="loading">
    <app-spinner></app-spinner>
</div>

<!--loading spinner if any error occurs-->

<div *ngIf="!loading && errorMessage">
    <div class="container">
        <div class="row">
            <div class="container">
                <h1 class="display-5 font-weight-bold text-danger">{{errorMessage}}</h1>
            </div>
        </div>
    </div>
</div>

<div class="container-lg my-5 bg-secondary rounded-3 shadow-lg" *ngIf="!loading && isEmpty()">
    <div class="row">
        <div class="col-lg-3 mt-5">
            <img src="{{contact.photo}}"
                 class="img-fluid contact-img rounded-circle">
        </div>
        <div class="col-lg-9 mt-3">
            <ul class="list-group">
                <li class="list-group-item list-group-item-danger">Name : <span class="font-weight-bold">{{contact.name}}</span></li>
                <li class="list-group-item list-group-item-danger">Email :<span class="font-weight-bold">{{contact.email}}</span></li>
                <li class="list-group-item list-group-item-danger">Mobile No :<span class="font-weight-bold">{{contact.mobile}}</span></li>
                <li class="list-group-item list-group-item-danger">Company :<span class="font-weight-bold">{{contact.company}}</span></li>
                <li class="list-group-item list-group-item-danger">Title :<span class="font-weight-bold">{{contact.title}}</span></li>
                <li class="list-group-item list-group-item-danger">Group Name :<span class="font-weight-bold">{{group.name}}</span></li>
              </ul>
        </div>
    </div>
    <div class="row mx-5 my-5">
        <button class="btn btn-danger" [routerLink]="['/']">
           <i class="fa fa-backward-step" aria-hidden="true"></i> 
            Back</button>
    </div>
</div>