<div class="container-lg justify-content-center align-items-center">
    <div class="row">
        <div class="col">
            <h1 class="display-5 text-primary">View Contact</h1>
            <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum nemo rerum, 
                impedit, explicabo, sed voluptas qui velit magnam voluptatem repellat asperiores 
                placeat consequuntur accusantium laboriosam eveniet pariatur est dicta iste sequi 
                incidunt neque at ad!
            </p>
        </div>
    </div>
</div>

<div class="container-lg my-5 bg-secondary rounded-3 shadow-lg">
    <div class="row">
        <div class="col-lg-3 mt-5">
            <img src="https://www.pinclipart.com/picdir/middle/116-1168985_male-icon-1stacy-dreher2017-08-01t16-business-clipart.png"
                 class="img-fluid contact-img rounded-circle">
        </div>
        <div class="col-lg-9 mt-3">
            <ul class="list-group">
                <li class="list-group-item list-group-item-danger">Name : <span class="font-weight-bold">Nagoor Khan Patan</span></li>
                <li class="list-group-item list-group-item-danger">Email :<span class="font-weight-bold">nagoorkhan.patan2001@gmail.com</span></li>
                <li class="list-group-item list-group-item-danger">Mobile No :<span class="font-weight-bold">9014957265</span></li>
                <li class="list-group-item list-group-item-danger">Company :<span class="font-weight-bold">MAQ Software</span></li>
                <li class="list-group-item list-group-item-danger">Title :<span class="font-weight-bold">Software Engineer 1</span></li>
                <li class="list-group-item list-group-item-danger">Group Name :<span class="font-weight-bold">Family</span></li>
              </ul>
        </div>
    </div>
    <div class="row mx-5 my-5">
        <button class="btn btn-danger" [routerLink]="['/']">
           <i class="fa fa-backward-step" aria-hidden="true"></i> 
            Back</button>
    </div>
</div>