/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body{
    font-family: 'Ubuntu', sans-serif !important;
    background-color: RGB(206 234 243) !important;
}
.contact-img{
    border-radius: 25px;
    width: 180px;
}